body{
    background-color: gray-800;
}


.title-pg{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}



.conteiner{
    padding: 80px;
}
.conteiner input{
    background-color: #313131;
    color: #FFF;
}
.conteiner textarea{
    background-color: #313131;
    color: #FFF;
    transition: 0.2s;
}
.conteiner textarea:hover{
    background-color: #5e5e5e;
    color: #FFF;
}
.conteiner select{
    background-color: #313131;
    color: #FFF;
}

.lab{
    background-color: #313131;
    color: #FFF;
}




.action{
    padding: 6px;;
    color: #0785f3;
    text-decoration: none;
    margin: 0px 2px;
    transition: 0.5s;
}
.action:hover{
    color: #313131;
}
.edit{

}
.delete{
    color: #da1717;

}

.bi-plus-square{
   padding-bottom: 2px;
}

